In [14]:
import os
import pandas as pd
fpRaw = "./data/Environment_Temperature_change_E_All_Data_NOFLAG.csv"

In [50]:
#https://www.kaggle.com/datasets/sevgisarac/temperature-change/
dfRaw = pd.read_csv(fpRaw)
dfRaw.Element.unique()

array(['Temperature change', 'Standard Deviation'], dtype=object)

In [55]:

df = dfRaw
df = df[df.Months == "Meteorological year" ]
df  =df[df.Element == "Temperature change"]

In [56]:
def getColNames(decade):
    years = range(0,10)
    return ["Y"+ str(decade[:-2])+str(year) for year in years]

decades = ["1960s","1970s","1980s","1990s","2000s","2010s"]
df["Y1960"] = 0
for decade in decades:
    years = getColNames(decade)
    df[decade] = df[years].mean(axis=1)
    #.mean(skipna=True,numeric_only=True, axis=0)
df = df[["Area"]+decades]
df = df.dropna()

df.head()

               Area   1960s   1970s   1980s     1990s     2000s   2010s
32      Afghanistan -0.1294  0.0317  0.2145  0.344700  0.970400  1.1188
66          Albania  0.1005 -0.1760  0.0346  0.396700  0.927000  1.5816
100         Algeria  0.0972 -0.1315  0.5516  0.799800  1.338700  1.5400
134  American Samoa -0.1020  0.0145  0.3040  0.714667  0.782889  1.1611
168         Andorra  0.0773 -0.1164  0.4487  0.961500  1.199000  1.5096

In [57]:
fileBG = "dataBG.json"

fpBG = os.path.join(os.getcwd(),"data", fileBG)         

file = open(fpBG, "w")

toFile = df.to_json(orient="split")

file.write(toFile)

file.close()

In [52]:
[2,3]+["decades"]

[2, 3, 'decades']